.navbar {
    display: flex;
    align-items: center;
    width:100%;
    justify-content: space-evenly;
}
a {
    text-decoration: none;
}
.text {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
}
.icon {
    font-size: 1.2em;
}
